
<div class="wmd-panel">
  <div id="{{unbound wmdButtonBarId}}"></div>

  {{textarea id=wmdInputId
             class='wmd-input'
             value=markdown}}
</div>

<div id="{{unbound wmdPreviewId}}" class="wmd-panel wmd-preview"></div>
