
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 id="pd_editor" class="panel-title">
      \{{view 'pd-editor' idPostfix='-first'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor' idPostfix='-first'}}
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 id="pd_editor" class="panel-title">
      \{{view 'pd-editor' idPostfix='-second'}}
    </h3>
  </div>
  <div class="panel-body">
    {{view 'pd-editor' idPostfix='-second' preview=false}}
  </div>
</div>
